
/* Reset e Clearfix */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

/* General */
body{
    max-width: 1900px;
    background-color: white;
    font-family: 'Heebo', sans-serif;
    
}
.container{
    width: 80%;
    margin: 0 auto;
}

/* Header */
.logo{
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid #E5E5E5;
}
nav{
    padding: 40px 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 200;
}
nav li a{
    text-decoration: none;
    color: #ABABAB;
}
a:hover{
    color: blue;
}
.banner1{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 500px;
}
.hero{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hoverlay::before{ /* Primo metodo per mettere sfondo opaco con uno pseudoelemento prima*/
    content: " ";
    background-color: rgba(0,0,0,0.2);
    position: absolute; 
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

/* Main */
.banner-text{
    width: 50%;
    color: white;
    position: absolute;
    bottom: 60px;
    left: 30px;
    text-align: justify;
}
h1{
    font-weight: normal;
}
h2{
    font-weight: 900;
    font-size:xx-large;
    padding-top: 20px;
}
h3{
    font-weight: normal;
    color: #999999;
    padding-bottom: 20px;
}
/* Colonne */

.col{
    float: left;
    width: 20%;
    /* padding: 0 20px; */
}
.col-center{
    width: 60%;
    padding: 0 20px 0 20px;
}
.col-img1{ /*Secondo metodo per mettere lo sfondo opaco */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/img-1.jpg");
  background-repeat: no-repeat;
  background-position: center; /*Non vado ad usare object-fit avendo l'immagine in CSS */
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
.col-img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/banner-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.col-img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/img-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.text-box{
    padding-top: 10px;
}
.box-h3{
    color: black;
}
.box-p{
    color: #B8B8B8;
    line-height: 20px;
}

/* Footer */
.credits{
    text-align: center;
    padding-top: 30px;
}
.heart-style{
    font-size: x-large;
}
.heart-style:hover{
    color: red;

}